body{
    padding: 0px;
    margin: 0px;
    font-size: larger;
    background-color: rgb(3, 2, 24);
    color: rgb(226, 150, 220);
}

#main {
    width: 100%;
}

nav {
    background: rgb(39, 19, 61);
    text-align: center;
}

a{
    text-decoration: dotted;
    color: rgb(226, 150, 220);
}

nav a { 
    margin-left: 2%;
    margin-right: 2%;
}

#mainPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#mainPanel img {
    width: 40%; 
}

#buttongs2 {
    padding: 1%;
    background-color: rgb(39, 19, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    gap: 2%;
}

#buttongs1 {
    padding: 1%;
    background-color: rgb(39, 19, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    gap: 2%;
}

#mainPanel button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: dotted black;
    background-color: rgb(28, 14, 44);
    color: rgb(226, 150, 220);
    
}

footer{
    padding: 1%;
    width: 98%;
    background-color: rgb(39, 19, 61);
}

#Chapters{
    padding: 1%;
    background-color: rgb(39, 19, 61);
    width: 98%;
}