body { 
    background-color: rgb(222, 226, 205);
    font-size: large;
}

#screen{
    width: 100%;
}

header {
    width: 99;
    background-color: rgb(185, 194, 144);
    margin: 2%;
    padding: 1%;
}

#about {
    display: flex;
    gap: 4%;
    background-color: rgb(185, 194, 144);
    font-size: large;
    padding: 2%;
    margin: 2%;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(185, 194, 144);
    padding: 2%;
    margin: 2%;
}

a {
    text-decoration: none;
    color: rgb(131, 121, 35);
}

#socials a {
    text-align: center;
}

#socials a img {
    margin-top: 5%;
}

#commissions{
    background-color: rgb(185, 194, 144);
    font-size: medium;
    padding: 2%;
    margin: 2%;
}

#table {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

#art {
    background-color: rgb(185, 194, 144);
    padding: 2%;
    margin: 2%;
    text-align: center;
}

#writing {
    background-color: rgb(185, 194, 144);
    padding: 2%;
    margin: 2%;
}

#btns button{
    width: 3%;
    height: 3%;
    border: 2px solid rgb(136, 145, 95);
    background-color: rgb(222, 226, 205);
}

#art img {
    width: 25%;
}

#writing-archive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#writing-archive select {
    margin: 3%;
}

#writing-archive button {
    margin: 1%;
}

iframe{
    width: 60%;
    height: 842px;
}

#viewerContainer{
    width: 100%;
}